<div>
    <fieldset class="form-group">
       <label>Description</label>
       <input type="text" class="form-control" placeholder="Description" ng-model="req.description">
    </fieldset>
    <fieldset class="form-group">
       <label>File</label>
       <input type="file" class="form-control" ng-model="req.file" onchange="angular.element(this).scope().storeFile(this.files)">
    </fieldset>

    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="$quit()">Cancel</button>
      <button class="btn btn-primary" ng-click="$close(req)">Create Request</button>
    </div>

</div>
